@use './_variables.scss' as *;
@use './_mixin.scss' as *;


*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.login-page-section {
  height: 200px;
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  align-items: center;
}

.login-section {
  background-color: #D1D2D4;
  border: 1px solid #404041;
}

.book-trip-section {
  min-height: 200px;
}

header {
  display: flex;
  background-color: $light-gray-color;
}

form {
@include flex-column;
  align-items: center;
}

h2.book-trip {
  color: $light-gray-color;
}

button {
  display: flex;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  border: 1px solid #404041;
}

.book-trip-container {
@include flex-column;
  align-items: center;
  padding: 5px 0 0 0;
  min-height: 250px;
}

.card-container {
@include flex-column;
  align-items: $align-items;
}

.trip-cards {
  max-width: 100%;
  margin: 10px;
  color: white;
}

.h3-container {
  display: flex;
  justify-content: center;
  align-items: $align-items;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 450px) {
  main {
    display: block;
  }
}